body {
    font-family: sans-serif;
    height: 100vh;
    color: #48484A !important;
    background-color: rgb(247, 247, 247) !important;
}

img {
    object-fit: contain;
}

.weather-header {
    border-radius: 0 0 20px 20px;
    background-color: #EC6E4C;
    margin-bottom: 20px;
}

.weather-search {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px !important;
    background-color: white;
    padding: 25px 0px 25px 10px;
    margin-top: 20px;
}

.today-block {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.today-block img {
    margin-right: 20px;
}

.forecast-block {
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
}

.location-name {
    font-size: 40px;
    font-weight: 500;
}

.temp {
    font-size: 30px;
    font-weight: 500;
}

.date {
    font-size: 16px;
    color: rgb(196, 196, 196);
}

#input-group {
    display: flex;
    width: 100%;
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #EC6E4C;
    color: white;
    padding: 25px 20px;
    margin: 10px 0 20px 0;
}

#history {
    background-color: white;
}

#history button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #ffe5dd;
    color: #EC6E4C;
}